@page
@using NygarnDemo.Enums
@using NygarnDemo.Helpers
@model NygarnDemo.Pages.Product.PatternPages.GetAllPatternsModel
@{
}
<h1>Opskrifter</h1>

<div class="row">
	<div class="col-7"><h5>Søg</h5></div>
	@* <div class="col-4"><h5>Filter Price</h5></div> *@
	<div class="col-1"></div>
</div>

<div class="row">
	<div class="col-4">
		<form method="post" class="form-inline">
			<div class="input-group mb-3">
				<input asp-for="SearchString" class="form-control mr-1" placeholder="Enter search term" />
				<input type="submit" asp-page-handler="NameSearch" value="Search" class="btn btn-primary" />
			</div>
		</form>
	</div>
	<div>
		<form method="post">
			<select asp-for="Category" asp-items="Html.GetEnumSelectList<Category>()">
				<option value="">Pick one</option>
			</select>
			<button type="submit" asp-page-handler="CategoryFilter">Se opskrifter</button>
		</form>
	</div>
	<div>
		<form method="post">
			<select asp-for="Fits" asp-items="Html.GetEnumSelectList<Fits>()">
				<option value="">Pick one</option>
			</select>
			<button type="submit" asp-page-handler="FitsFilter">Se opskrifter</button>
		</form>
	</div>
	<div>
		<form method="post">
		
			<select asp-for="DifficultyLevel" asp-items="Html.GetEnumSelectList<DifficultyLevel>()">
				<option value="">Pick one</option>
			</select>
			<button type="submit" asp-page-handler="DiffLevelFilter">Se opskrifter</button>
		</form>
	</div>
	<div class="col-3"></div>
	<div class="col-5">
		@* <form method="post" class="form-inline">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text">Min</span>
				</div>
				<input asp-for="MinPrice" class="form-control me-2" />
				<div class="input-group-prepend">
					<span class="input-group-text">Max</span>
				</div>
				<input asp-for="MaxPrice" class="form-control me-2" />
				<input type="submit" asp-page-handler="PriceFilter" value="Filter" class="btn btn-primary" />
			</div>
		</form> *@
	</div>

<div class="grid-container">
@if (Model.Patterns != null)
{
    foreach (var pattern in Model.Patterns)
    {
        <div class="card" style="width: 18rem;">
            @* <img class="card-img-top" src="..." alt="Card image cap"> *@
            <div class="card-body">
                <h5 class="card-title">@pattern.Name</h5>
                <p class="card-text">Beskrivelse: @pattern.Description</p>
                <p class="card-text">Pris: @pattern.Price</p>
                <p class="card-text">Designer: @pattern.Designer</p>
				<p class="card-text">Kategori: @pattern.Category</p>
                <p class="card-text">Sværhedsgrad: @pattern.DifficultyLevel.GetDisplayName()</p>
                <a href="#" class="btn btn-primary">Kom i kurv</a>
            </div>
        </div>
    }
}
</div>