@page
@model NygarnDemo.Pages.Users.CreateUserModel
@{
}
<h1>Opret dig som </h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.UserName" class="control-lable">Brugernavn</label>
                <input asp-for="@Model.UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Name" class="control-lable">Fornavn</label>
                <input asp-for="@Model.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.LastName" class="control-lable">Efternavn</label>
                <input asp-for="@Model.LastName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Password" class="control-lable">Kodeord</label>
                <input asp-for="@Model.Password" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Address" class="control-lable">Adresse</label>
                <input asp-for="@Model.Address" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Phone" class="control-lable">Telefonnummer</label>
                <input asp-for="@Model.Phone" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Email" class="control-lable">Email</label>
                <input asp-for="@Model.Email" class="form-control" />
            </div>
          

            <div class="form-group">
                <input type="submit" value="Opret" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
@* <div>
    <a asp-page="/Index">Tilbage til forsiden</a>
</div> *@