@page 
@model NygarnDemo.Pages.ShoppingCart.ShoppingCartModel
@{
}

<h1>Indkøbskurv</h1>

@if (Model.ShoppingCartLines == null || !Model.ShoppingCartLines.Any())
{
    <h3>Din kurv er tom</h3>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Produkt</th>
                <th>Antal</th>
                <th>Handlinger</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.ShoppingCartLines)
            {
                <tr class="btn-secondary">
                    <td>
                        @line.Product.Name
                    </td>
                    <td>
                        @line.Product.Price
                    </td>
                    <td>
                        @line.Quantity
                    </td>
                    <td>
                        <form method="post" asp-page-handler="UpdateQuantity">
                            <input type="hidden" name="ProductId" value="@line.Product.ProductId" />
                            <input type="number" name="Quantity" value="@line.Quantity" min="1" /> 
                            <button type="submit">Opdater</button>
                        </form>
                        <a class="btn btn-danger btn-sm" type="button" title="Delete" asp-page="ShoppingCart" asp-route-id="@line.Product.ProductId">
                            <i class="fa fa-trash"></i> Slet
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}