@page
@model NygarnDemo.Pages.Product.YarnPages.CreateYarnModel
@{
}

<h1>Udfyld felter om garnet!</h1>
<form method="post">
	<div class="form-group">
		<label asp-for="@Model.Yarn.Name" class="control-label"></label>
		<input asp-for="@Model.Yarn.Name" class="form-control" />
		<span asp-validation-for="@Model.Yarn.Name" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.Yarn.Price" class="control-label"></label>
		<input asp-for="@Model.Yarn.Price" class="form-control" />
		<span asp-validation-for="@Model.Yarn.Price" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.Yarn.Description" class="control-label"></label>
		<input asp-for="@Model.Yarn.Description" class="form-control" />
		<span asp-validation-for="@Model.Yarn.Description" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.Yarn.Brand" class="control-label"></label>
		<input asp-for="@Model.Yarn.Brand" class="form-control" />
		<span asp-validation-for="@Model.Yarn.Brand" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.Yarn.Amount" class="control-label"></label>
		<input asp-for="@Model.Yarn.Amount" class="form-control" />
		<span asp-validation-for="@Model.Yarn.Amount" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.Yarn.Color" class="control-label"></label>
		<input asp-for="@Model.Yarn.Color" class="form-control" />
		<span asp-validation-for="@Model.Yarn.Color" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.Yarn.KnittingTension" class="control-label"></label>
		<input asp-for="@Model.Yarn.KnittingTension" class="form-control" />
		<span asp-validation-for="@Model.Yarn.KnittingTension" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.Yarn.Yardage" class="control-label"></label>
		<input asp-for="@Model.Yarn.Yardage" class="form-control" />
		<span asp-validation-for="@Model.Yarn.Yardage" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.Yarn.Material" class="control-label"></label>
		<input asp-for="@Model.Yarn.Material" class="form-control" />
		<span asp-validation-for="@Model.Yarn.Material" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.Yarn.Weight" class="control-label"></label>
		<input asp-for="@Model.Yarn.Weight" class="form-control" />
		<span asp-validation-for="@Model.Yarn.Weight" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.Yarn.Size" class="control-label"></label>
		<input asp-for="@Model.Yarn.Size" class="form-control" />
		<span asp-validation-for="@Model.Yarn.Size" class="text-danger"></span>
	</div>
	@* 	<div class="form-group">
	<label asp-for="@Model.Yarn.MachineWash" class="control-label"></label>
	<input asp-for="@Model.Yarn.MachineWash" class="form-control" />
	<span asp-validation-for="@Model.Yarn.MaschineWash" class="text-danger"></span>
	</div> *@
	<p>
		<div class="form-group">
			<input type="submit" value="Tilføj" class="btn btn-primary" />
		</div>
	</p>
</form>