@page
@model NygarnDemo.Pages.Product.YarnPages.DetailYarnModel
@{
}

<div class="row mt-4">
    <div class="col-lg-3 mb-4"></div>
    <div class="col-lg-6 mb-4">
        <div class="card"> 
            <img class="card-img-top" src="@(Url.Content("~/pngFiles/" + @Model.YarnProduct.ProductImage))" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title mb-2">@Model.YarnProduct.Name</h3>
                <div class="card-text mb-4">@Model.YarnProduct.Description</div>
                <div class="card-text mb-4">Brand: @Model.YarnProduct.Brand</div>
                <div class="card-text mb-4">Vægt: @Model.YarnProduct.Weight gram</div>
                <div class="card-text mb-4">Løbelængde: @Model.YarnProduct.Yardage</div>
                <div class="card-text mb-4">Størrelse: @Model.YarnProduct.KnittingTension</div>
                <div class="card-text mb-4">Anbefaldede pinde: @Model.YarnProduct.SuggestedNeedleSize</div>
                <div class="card-text mb-4">Maskinevask: @(Model.YarnProduct.MachineWash ? "Ja" : "Nej")</div>
                <div class="card-text mb-4">Farve: @Model.YarnProduct.Color</div>
                <div class="card-text mb-4">Materiale: @Model.YarnProduct.Material</div>
                <h6 class="card-footer text-muted">Pris: @Model.YarnProduct.Price</h6>
                <form method="post" style="display: inline;">
                    <input type="hidden" name="SelectedProductId" value="@Model.YarnProduct.ProductId" />
                    <input type="number" name="quantity" id="quantityInput" min="1" value="1" style="width: 40px; height: 30px; font-size: 16px;" />
                    <button class="btn btn-primary btn-sm rosybrown-bg" type="submit" asp-page-handler="AddToCart" style="font-size: 12px; padding: 5px 12px; height: 30px;">Kom i kurv</button>
                </form>
            </div>
          
        </div>
    </div>
    <div class="col-lg-3 mb-4"></div>
</div>


