@page
@using NygarnDemo.Enums;
@model NygarnDemo.Pages.Product.YarnPages.EditYarnModel
@{
}


<form method="post" enctype="multipart/form-data">
	<div class="form-group">
		<label asp-for="YarnProduct.ProductId" class="control-lable"></label>
		<input asp-for="YarnProduct.ProductId" class="form-control" readonly="@(true)" />
	</div>
	<div class="form-group">
		<label asp-for="YarnProduct.Name" class="control-lable"></label>
		<input asp-for="YarnProduct.Name" class="form-control" />
		<span asp-validation-for="YarnProduct.Name" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="YarnProduct.Price" class="control-lable"></label>
		<input asp-for="YarnProduct.Price" class="form-control" />
		<span asp-validation-for="YarnProduct.Price" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.YarnProduct.Description" class="control-label"></label>
		<input asp-for="@Model.YarnProduct.Description" class="form-control" />
		<span asp-validation-for="@Model.YarnProduct.Description" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="YarnProduct.Brand" class="control-lable"></label>
		<input asp-for="YarnProduct.Brand" class="form-control" />
		<span asp-validation-for="YarnProduct.Brand" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="YarnProduct.Weight" class="control-lable"></label>
		<input asp-for="YarnProduct.Weight" class="form-control" />
		<span asp-validation-for="YarnProduct.Weight" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="YarnProduct.Yardage" class="control-lable"></label>
		<input asp-for="YarnProduct.Yardage" class="form-control" />
		<span asp-validation-for="YarnProduct.Yardage" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="YarnProduct.KnittingTension" class="control-lable"></label>
		<input asp-for="YarnProduct.KnittingTension" class="form-control" />
		<span asp-validation-for="YarnProduct.KnittingTension" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="YarnProduct.SuggestedNeedleSize" class="control-lable"></label>
		<input asp-for="YarnProduct.SuggestedNeedleSize" class="form-control" />
		<span asp-validation-for="YarnProduct.SuggestedNeedleSize" class="text-danger"></span>
	</div>
@* 	<div class="form-group">
		<label asp-for="YarnProduct.MachineWash" class="control-lable"></label>
		<input asp-for="YarnProduct.MachineWash" class="form-control" />
		<span asp-validation-for="YarnProduct.MachineWash" class="text-danger"></span>
	</div> *@
	<div class="form-group form-check">
		<input asp-for="YarnProduct.MachineWash" class="form-check-input" type="checkbox" id="machineWashCheckbox" />
		<label asp-for="YarnProduct.MachineWash" class="form-check-label" for="machineWashCheckbox">Må gerne maskine vaskes</label>
		<span asp-validation-for="YarnProduct.MachineWash" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.YarnProduct.Color" class="control-label">Farve</label>
		<select asp-for="@Model.YarnProduct.Color" asp-items="Html.GetEnumSelectList<Color>()">
			<option value=""></option>
		</select>
		<span asp-validation-for="@Model.YarnProduct.Color" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.YarnProduct.Material" class="control-label"></label>
		<select asp-for="@Model.YarnProduct.Material" asp-items="Html.GetEnumSelectList<Material>()">
			<option value=""></option>
		</select>
		<span asp-validation-for="@Model.YarnProduct.Material" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.Photo" class="control-label"></label>
		<div class="custom-file">
			<input asp-for="@Model.Photo" class="custom-file-input form-control" />
			<label class="custom-file-label">Gem Billede</label>
		</div>
	</div>

	<p>
		<div class="form-group">
			<input type="submit" value="Update" class="btn btn-primary" />
		</div>
	</p>
</form>

<p>
	<a asp-page="/Product/YarnPages/GetAllYarnProducts">Back to List</a>
</p>