@page
@using NygarnDemo.Enums
@model NygarnDemo.Pages.Product.YarnPages.GetAllYarnProductsModel
@{
}

<h1>Garn</h1>

<div class="row">
    <div class="col-7"><h5>Search Name</h5></div>
    <div class="col-4"><h5>Filter Price</h5></div>
    <div class="col-1"></div>
</div>
<div class="row">
    <div class="col-4">
        <form method="post" class="form-inline">
            <div class="input-group mb-3">
                <input asp-for="SearchString" class="form-control mr-1" placeholder="Enter search term" />
                <input type="submit" asp-page-handler="NameSearch" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-3"></div>
    <div class="col-5">
        <form method="post" class="form-inline">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Min</span>
                </div>
                <input asp-for="MinPrice" class="form-control me-2" />
                <div class="input-group-prepend">
                    <span class="input-group-text">Max</span>
                </div>
                <input asp-for="MaxPrice" class="form-control me-2" />
                <input type="submit" asp-page-handler="PriceFilter" value="Filter" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div>
        <form method="post">
            <select asp-for="Color" asp-items="Html.GetEnumSelectList<Color>()">
                <option value="">Pick one</option>
            </select>
            <button type="submit" asp-page-handler="ColorFilter">Se garn</button>
        </form>
    </div>
    <div>
        <form method="post">
            <select asp-for="Material" asp-items="Html.GetEnumSelectList<Material>()">
                <option value="">Pick one</option>
            </select>
            <button type="submit" asp-page-handler="MaterialFilter">Se garn</button>
        </form>
    </div>
    <div>
        @* <form method="post">
            <select asp-for="Brand" asp-items="Html.GetEnumSelectList<Brand>()">
                <option value="">Pick one</option>
            </select>
            <button type="submit" asp-page-handler="BrandFilter">Se garn</button>
        </form> *@
    </div>
    <div>
 @*        <form method="post">
            <select asp-for="KnittingTension" asp-items="Html.GetEnumSelectList<KnittingTension>()">
                <option value="">Pick one</option>
            </select>
            <button type="submit" asp-page-handler="KnittingTensionFilter">Se garn</button>
        </form>
    </div> *@
@*     <div>
        <form method="post">
            <select asp-for="Yardage" asp-items="Html.GetEnumSelectList<Yardage>()">
                <option value="">Pick one</option>
            </select> 
            <button type="submit" asp-page-handler="YardageFilter">Se garn</button>
        </form
    </div>*@
    <div>
        <form method="post">
            <select asp-for="Size" asp-items="Html.GetEnumSelectList<Size>()">
                <option value="">Pick one</option>
            </select>
            <button type="submit" asp-page-handler="SizeFilter">Se garn</button>
        </form>
    </div>
   @*  <div>
        <form method="post">
            <select asp-for="MachineWash" asp-items="Html.GetEnumSelectList<Machinewash>()">
                <option value="">Pick one</option>
            </select>
            <button type="submit" asp-page-handler="MachinewashFilter">Se garn</button>
        </form>
    </div> *@
    </div>
</div>
<div class="grid-container">
@if(Model.YarnProducts != null)
{
    foreach(var yarnProduct in Model.YarnProducts)
    {
        <div class="row">
            <div class="col-sm-4 mb-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5gOk9johiqyLngH4hJNbyZCgPJ1Ib2mLWTiHsQ9Wvmg&s" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@yarnProduct.Name</h5>
                        <h5 class="card-title"> Brand: @yarnProduct.Brand</h5>
                        <p class="card-text"> Beskrivelse: @yarnProduct.Description</p>
                        <p class="card-text"> Pris: @yarnProduct.Price</p>
                        <p class="card-text"> Materiale: @yarnProduct.Material</p>
                        <p class="card-text"> Farve: @yarnProduct.Color</p>
                        <p class="card-text"> Strikkefasthed: @yarnProduct.KnittingTension</p>
                        <p class="card-text"> Løbelængde: @yarnProduct.Yardage</p>
                        <p class="card-text"> Anbefalede Pinde: @yarnProduct.Size</p>
                        <p class="card-text"> Maskinevask: @yarnProduct.MachineWash</p>
                        <a href="#" class="btn btn-primary">KØB DET GARN MA FREN</a>
                    </div>
                </div>
            </div>
        </div>
    }
}

<div>
        <p>
            <a class="btn btn-primary" asp-page="/Product/YarnPages/CreateYarn"> Tilføj garn til hjemmeside </a>
        </p>
        <div>
            @* //Pagina den del, som gør at man kan bladre i siderne på en page// *@
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
</div>

</div>




