@page
@model NygarnDemo.Pages.Product.YarnPages.GetAllYarnProductsModel
@{
}

<h1>Garn</h1>

<div class="row">
    <div class="col-7"><h5>Search Name</h5></div>
    <div class="col-4"><h5>Filter Price</h5></div>
    <div class="col-1"></div>
</div>
<div class="row">
    <div class="col-4">
        <form method="post" class="form-inline">
            <div class="input-group mb-3">
                <input asp-for="SearchString" class="form-control mr-1" placeholder="Enter search term" />
                <input type="submit" asp-page-handler="NameSearch" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-3"></div>
    <div class="col-5">
        <form method="post" class="form-inline">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Min</span>
                </div>
                <input asp-for="MinPrice" class="form-control me-2" />
                <div class="input-group-prepend">
                    <span class="input-group-text">Max</span>
                </div>
                <input asp-for="MaxPrice" class="form-control me-2" />
                <input type="submit" asp-page-handler="PriceFilter" value="Filter" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div>
        <form method="Post">
            <select asp-for="Color" name="Color">
                <option value="">All</option>
                <option value="0">Rød</option>
                <option value="1">Grøn</option>
                <option value="2">Sort</option>
                <option value="3">Hvid</option>
                <option value="4">Gul</option>
                <option value="5">Blå</option>
                <option value="6">Lilla</option>
                <option value="7">Lyserød</option>
                <option value="8">Orange</option>
                <option value="9">Beige</option>
                <option value="10">Brun</option>
                <option value="11">Grå</option>
                
            </select>
            <button type="submit" asp-page-handler="ColorFilter">Filter</button>
        </form>
    </div>
    <div>
        <form method="Post">
            <select asp-for="Material" name="Material">
                <option value="">All</option>
                <option value="0">Alpakke</option>
                <option value="1">Silke</option>
                <option value="2">Mohair</option>
                <option value="3">Bomuld</option>
                <option value="4">Kashmir</option>
                <option value="5">Akryl</option>
            </select>
            <button type="submit" asp-page-handler="MaterialFilter">Filter</button>
        </form>
    </div>
    <div>
        <form method="Post">
            <select asp-for="Brand" name="Brand">
                <option value="">All</option>
                <option value="0">Sandnes</option>
                <option value="1">PetitKnit</option>
                <option value="2">Hobbii</option>
            </select>
            <button type="submit" asp-page-handler="BrandFilter">Filter</button>
        </form>
    </div>
</div>

@if(Model.YarnProducts != null)
{
    foreach(var yarnProduct in Model.YarnProducts)
    {
        <div class="row">
            <div class="col-sm-4 mb-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5gOk9johiqyLngH4hJNbyZCgPJ1Ib2mLWTiHsQ9Wvmg&s" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@yarnProduct.Name</h5>
                        <h5 class="card-title"> Brand: @yarnProduct.Brand</h5>
                        <p class="card-text"> Beskrivelse: @yarnProduct.Description</p>
                        <p class="card-text"> Pris: @yarnProduct.Price</p>
                        <p class="card-text"> Materiale: @yarnProduct.Material</p>
                        <p class="card-text"> Farve: @yarnProduct.Color</p>
                        <a href="#" class="btn btn-primary">KØB DET GARN MA FREN</a>
                    </div>
                </div>
            </div>
        </div>
    }
}
@* //Pagina den del, som gør at man kan bladre i siderne på en page// *@
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>




