@page
@using NygarnDemo.Enums
@using NygarnDemo.Models
@model NygarnDemo.Pages.Product.CrochetHookPages.GetAllCrochetHooksModel
@{
}

<h1>Strikkepinde og hæklenåle</h1>
        <!-- Filter Button -->
<label for="filterToggle" class="btn btn-primary btn-sm rosybrown-bg" style="cursor: pointer;">Filtre produkter</label>
<input type="checkbox" id="filterToggle" style="display: none;" />

        <!-- Sidepanel -->
    <div id="mySidenav" style="height: 100%; width: 0; position: fixed; z-index: 1; top: 0; right: 0; background-color: white; overflow-x: hidden; transition: 0.5s; padding-top: 60px;">
    <a href="javascript:void(0)" style="position: absolute; top: 0; left: 25px; font-size: 36px; margin-left: 50px; color: #818181; text-decoration: none;" onclick="document.getElementById('filterToggle').checked = false; document.getElementById('mySidenav').style.width = '0';">&times;</a>
    <h2 style="color: black; padding-left: 32px;">Filtrer</h2>
    <div style="padding: 20px; color: black;">
        <form method="post" class="form-inline">
            <h5 style="color: black;">Søg navn</h5>
            <div class="input-group mb-5">
                <input asp-for="SearchString" class="form-control mr-2 rosybrown-input" placeholder="Søgeord" />
                <input type="submit" asp-page-handler="NameSearch" value="Søg" class="btn btn-primary btn-sm rosybrown-bg" />
            </div>
        </form>
        <form method="post" class="form-inline">
            <h5 style="color: black;">Filtrer prisen</h5>
            <div class="input-group mb-5">
                <div class="input-group-prepend">
                    <span class="input-group-text">Min</span>
                </div>
                <input asp-for="MinPrice" class="form-control me-3 rosybrown-input" />
                <div class="input-group-prepend">
                    <span class="input-group-text">Max</span>
                </div>
                <input asp-for="MaxPrice" class="form-control me-2 rosybrown-input" />
                <input type="submit" asp-page-handler="PriceFilter" value="Filter" class="btn btn-primary btn-sm rosybrown-bg" />
            </div>
        </form>
        <form method="post" style="margin-bottom: 15px;">
            <h5 style="color: black; text-align: right;">Filter Size</h5>
            <div style="display: flex; justify-content: flex-end;">
                <select asp-for="Size" asp-items="Html.GetEnumSelectList<Size>()" style="margin-right: 5px;">
                    <option value="">Vælg størrelse</option>
                </select>
                <button type="submit" asp-page-handler="SizeFilter" style="background-color: rosybrown; color: black; border: none; padding: 5px 10px;">Filter Size</button>
            </div>
        </form>
        <form method="post" style="margin-bottom: 15px;">
            <h5 style="color: black; text-align: right;">Filter Material</h5>
            <div style="display: flex; justify-content: flex-end;">
                <select asp-for="Material" asp-items="Html.GetEnumSelectList<NeedleAndHookMaterial>()" style="margin-right: 5px;">
                    <option value="">Material</option>
                </select>
                <button type="submit" asp-page-handler="MaterialFilter" style="background-color: rosybrown; color: black; border: none; padding: 5px 10px;">Filter Material</button>
            </div>
        </form>
        <form method="post" style="margin-bottom: 15px;">
            <h5 style="color: black; text-align: right;">Filter Type</h5>
            <div style="display: flex; justify-content: flex-end;">
                <select asp-for="Type" asp-items="Html.GetEnumSelectList<NeedleType>()" style="margin-right: 5px;">
                    <option value="">Type</option>
                </select>
                <button type="submit" asp-page-handler="TypeFilter" style="background-color: rosybrown; color: black; border: none; padding: 5px 10px;">Filter Type</button>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="grid-container">
        @if (Model.CrochetHooks != null)
        {
            foreach (var crochetHook in Model.CrochetHooks)
            {
                <div class="row">
                    <div class="col-sm-4 mb-3">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="~/pngFiles/hæklenål.png" alt="Card image cap" />
                            <div class="card-body">
                                <h5 class="card-title">@crochetHook.Name</h5>
                                <p class="card-text">Beskrivelse: @crochetHook.Description</p>
                                <p class="card-text">Pris: @crochetHook.Price</p>
                                <p class="card-text">Mærke: @crochetHook.Brand</p>
                             @*    <p class="card-text">Materiale: @crochetHook.Material</p>
                                <p class="card-text">Størrelse: @crochetHook.Size</p> *@
                                <a href="#" class="btn btn-primary btn-sm rosybrown-bg">Tryk for at se mere</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        @if (Model.IsAdmin)
        {
            <div>
                <p>
                    <a class="btn btn-primary btn-sm rosybrown-bg" asp-page="/Product/NeedleAndHookPages/CreateCrochetHook">Tilføj hæklenål</a>
                </p>
            </div>
        }
    </div>
    <div class="grid-container">
        @if (Model.KnittingNeedles != null)
        {
            foreach (var knittingNeedle in Model.KnittingNeedles)
            {
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/pngFiles/KnitPro Symfonie rundpind.png"  alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="card-title">@knittingNeedle.Name</h5>
                        <p class="card-text">Beskrivelse: @knittingNeedle.Description</p>
                        <p class="card-text">Pris: @knittingNeedle.Price</p>
                        <p class="card-text">Mærke: @knittingNeedle.Brand</p>
                       @*  <p class="card-text">Materiale: @knittingNeedle.Material</p>
                        <p class="card-text">Størrelse: @knittingNeedle.Size</p>
                        <p class="card-text">Type: @knittingNeedle.Type</p> *@
                        <a href="#" class="btn btn-primary btn-sm rosybrown-bg">Tryk for at se mere</a>
                    </div>
                </div>
            }
        }
    </div>
    @if (Model.IsAdmin)
    {
        <div>
            <p>
                <a class="btn btn-primary btn-sm rosybrown-bg" asp-page="/Product/NeedleAndHookPages/CreateKnittingNeedle">Tilføj strikkepinde til hjemmesiden</a>
            </p> 
        </div>
    }
</div>

<!-- Inline script to toggle sidenav -->
@* <script>
    document.getElementById('filterToggle').addEventListener('change', function () {
        if (this.checked) {
            document.getElementById('mySidenav').style.width = '250px';
        } else {
            document.getElementById('mySidenav').style.width = '0';
        }
    });
</script> *@
<script>
    document.getElementById('filterToggle').addEventListener('change', function () {
        if (this.checked) {
            document.getElementById('mySidenav').style.width = '250px'; // Åbn sidebaren
        } else {
            document.getElementById('mySidenav').style.width = '0'; // Luk sidebaren
        }
    });
</script>
