@page
@using NygarnDemo.Enums
@model NygarnDemo.Pages.Product.ToolPages.GetAllToolsModel
@{
}

<h1>Tilbehør</h1>
    <div class="row">
        <div class="col-7"><h5>Søg</h5></div>
        <div class="col-4"><h5>Filter Pris</h5></div>
        <div class="col-1"></div>
    </div>
    <div class="row">
    <div class="col-4">
        <form method="post" class="form-inline">
            <div class="input-group mb-3">
                <input asp-for="SearchString" class="form-control mr-1" placeholder="Søgeord" />
                <input type="submit" asp-page-handler="NameSearch" value="Søg" class="btn btn-primary" />
            </div>
        </form>
    </div>
<div class="col-3"></div>
    <div class="col-5">
        <form method="post" class="form-inline">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Min</span>
                </div>
                <input asp-for="MinPrice" class="form-control me-2" />
                <div class="input-group-prepend">
                    <span class="input-group-text">Max</span>
                </div>
                <input asp-for="MaxPrice" class="form-control me-2" />
                <input type="submit" asp-page-handler="PriceFilter" value="Filter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@* <div>
    <form method="post">
        <select asp-for="Brand" asp-items="Html.GetEnumSelectList<Brand>()">
            <option value="">Vælg farve </option>
        </select>
        <button type="submit" asp-page-handler="BrandFilter">Filtrer</button>
    </form> 
</div> *@
@* <div>
<form method="post" class="form-inline">
            <div class="input-group mb-3">
                <input asp-for="SearchString" class="form-control mr-1" placeholder="Søg tilbehør" />
                <input type="submit" asp-page-handler="TypeSearch" value="Søg" class="btn btn-primary" />
            </div>
</form> *@
@* </div> *@

@*@< div>
    <form method="post">
        <select asp-for="Type" asp-items="Html.GetEnumSelectList<ToolType>()">
            <option value="">Vælg tilbehør </option>
        </select>
        <button type="submit" asp-page-handler="TypeSearch">Filtrer</button>
    </form>
</div> *@ 

<div class="grid-container">
   @if (Model.Tools != null)
      {
          foreach (var tool in Model.Tools)
          {
              <div class="card" style="width: 18rem;">
                 @* <img class="card-img-top" src="..." alt="Card image cap"> *@
                    <div class="card-body">
                       <h5 class="card-title">@tool.Name</h5>
                       <p class="card-text">Beskrivelse: @tool.Description</p>
                       <p class="card-text">Pris: @tool.Price</p>
                       @* <p class="card-text">Designer: @tool.Brand</p>
                       <p class="card-text">Størrelse: @tool.Size</p>
                       <p class="card-text">Type: @tool.Type</p> *@
                       <a href="#" class="btn btn-primary">Kom i kurv</a>
                    <a class="btn btn-primary btn-sm" type="button" title="Detail" asp-page="DetailTool" asp-route-id="@tool.ProductId"><i class="fa fa-info"></i>Se detaljer</a>
                    @if (Model.IsAdmin)
                    {
                        <a class="btn btn-primary btn-sm" type="button" title="Edit" asp-page="EditTool" asp-route-id="@tool.ProductId"><i class="fa fa-edit"></i>Rediger</a>
                        <a class="btn btn-danger btn-sm " type="button" title="Delete" asp-page="DeleteTool" asp-route-id="@tool.ProductId"><i class="fa fa-trash"></i>Slet</a>
                       @*  <form asp-page="EditTool" asp-route-id="@tool.ProductId" method="post" class="d-inline">
                            <button type="submit" class="btn btn-danger" title="Rediger">
                                Rediger
                                <i class="fa fa-trash"></i>
                            </button>
                        </form> *@
                       @*  <form asp-page="DetailTool" asp-route-id="@tool.ProductId" method="post" class="d-inline">
                            <button type="submit" class="btn btn-danger" title="Se detaljer">
                                Se detaljer
                                <i class="fa fa-trash"></i>
                            </button>
                        </form> *@
                      @*   <form asp-page="DeleteTool" asp-route-id="@tool.ProductId" method="post" class="d-inline">
                            <button type="submit" class="btn btn-danger btn-sm" title="Slet" onclick="return confirm('Er du sikker på, at du vil slette dette værktøj?')">Slet
                            <i class="fa fa-trash"></i>
                        </button>
                    </form> *@
                       @*  <form method="post">
                            <input type="hidden" name="DeletedToolId" value="@tool.ProductId" />
                            <button class="btn btn-primary" type="submit" asp-page-handler="DeleteTool">Slet</button>
                        </form> *@
                    }
                    </div>
              </div>
          }
       }
</div>

<div>
    @if (Model.IsAdmin)
    {
        <p>
            <a class="btn btn-primary" asp-page="/Product/ToolPages/CreateTool"> Tilføj tilbehør til hjemmeside </a>
        </p>
    }
    <div>
  